.DS_Store
*.py[cod]
src/media/*
src/static/*
.idea
.vscode
/nbproject
wikiworks.log
celerybeat-schedule
celerybeat-schedule.db
celeryev.pid
myvenv
local.py
yandex_kassa_dev.py
local.log
local.log.*
production.log
logs/
production.log.*
config/pgdata/*
update_static_and_db.log
node_modules
package-lock.json

cache_select2
cache



# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
webpack-stats.json

.idea
node_modules
.sass-cache
*.thumb
npm-debug.log
yarn.lock
