.home_slider {

  &_item {
    position: relative;
    width: 350px;
    padding-bottom: 350px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      width: 210px;
      padding-bottom: 210px;
    }
    &__small .home_slider_description{
      font-size: rem(14);
      line-height: rem(20);

      @include media-breakpoint-down(md) {
        font-size: rem(10);
        line-height: rem(11);
      }
    }
  }
  &_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms;
    transform: translate3d(0, 0, 0);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25% 16% 15%;
    background-color: hsla(0, 0%, 0%, 0.7);
    transition: all 500ms;
    font-size: rem(20);
    line-height: rem(24);
    color: $white;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    @include media-breakpoint-down(md) {
      font-size: rem(13);
      line-height: rem(15);
    }
    p:not(.home_slider_name) {
      margin-bottom: rem(13);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(10);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &_name {
    display: inline-block;
    position: relative;
    margin-bottom: 3.5%;
    font-style: italic;
    font-size: rem(16);
    line-height: rem(20);

    @include media-breakpoint-down(md) {
      font-size: rem(10);
      line-height: rem(10);
      margin-bottom: 5.5%;
    }
    span {
      position: relative;
      display: inline-block;
      font-style: normal;
      font-size: rem(20);
      line-height: rem(20);

      @include media-breakpoint-down(md) {
        font-size: rem(12);
        line-height: rem(12);
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        height: 2px;
        width: 60vw;
        margin: -1px 0;
        background-color: $primary;
        transition: all 500ms;
      }
      &:before {
        right: calc(100% + 50px);
      }
      &:after {
        left: calc(100% + 50px);
      }
    }
  }

  &_item:hover &_img {
    filter: blur(5px);
  }
  &_item:hover &_text {
    opacity: 1;
    visibility: visible;
  }
  &_item:hover &_name span:before {
    right: calc(100% + 10px);
  }
  &_item:hover &_name span:after {
    left: calc(100% + 10px);
  }


  .swiper-slide-active &_img {
    @include media-breakpoint-down(md) {
      filter: blur(5px);
    }
  }
  .swiper-slide-active &_text {
    @include media-breakpoint-down(md) {
      opacity: 1;
    }
    visibility: visible;
  }
  .swiper-slide-active &_name span:before {
    @include media-breakpoint-down(md) {
      right: calc(100% + 10px);
    }
  }
  .swiper-slide-active &_name span:after {
    @include media-breakpoint-down(md) {
      left: calc(100% + 10px);
    }
  }
}
