.btn {
  position: relative;
  display: inline-block;
  min-width: rem(190);
  padding: rem(15) rem(24);
  font-size: rem(20);
  line-height: rem(20);
  font-family: $font-general;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: none;
  border-radius: rem(30);
  border: 2px solid transparent;
  transition: all 300ms;
  background-color: transparent;
  outline: none;

  @include media-breakpoint-down(lg) {
    padding: rem(15) rem(15);
    font-size: rem(20);
    line-height: rem(20);
  }
  @include media-breakpoint-down(md) {
    min-width: rem(125);
    padding: rem(11) rem(20);
    font-size: rem(13);
    line-height: rem(13);
    border-width: 1px;
  }
  @include media-breakpoint-down(sm) {
    min-width: rem(115);
  }
  &:hover {
    cursor: pointer;

    .svg {
      right: 17px;

      @include media-breakpoint-down(md) {
        right: 11px;
      }
      @include media-breakpoint-down(sm) {
        right: 11px;
      }
    }
  }
  .svg {
    position: absolute;
    width: 10px;
    padding-bottom: 20px;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    transition: right 400ms;

    @include media-breakpoint-down(md) {
      width: 6px;
      padding-bottom: 12px;
      right: 15px;
    }
    @include media-breakpoint-down(sm) {
      width: 4px;
      padding-bottom: 10px;
      right: 15px;
    }
    svg {
      fill: $black;
      transition: fill 300ms;
    }
  }
  &-general {
    border-color: $primary;
    color: $primary;

    .svg svg {
      fill: $primary;
    }
    &:hover {
      background-color: $primary;
      color: $white;

      .svg svg {
        fill: $white;
      }
    }
  }
}
