.svg {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-0 {
  width: 0;
}

.content {
  padding: rem(30) 0;
  min-height: calc(100vh - (465px + 150px));

  @include media-breakpoint-down(lg) {
    min-height: calc(100vh - (314px + 153px));
  }
  @include media-breakpoint-down(md) {
    min-height: calc(100vh - (277px + 83px));
  }
  @include media-breakpoint-down(sm) {
    min-height: calc(100vh - (222px + 103px));
  }
}

a {
  color: $link-color;
  transition: color 300ms;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

h1 {
  font-size: rem(30);
  line-height: rem(36);
  margin: 0;
  font-weight: normal;

  @include media-breakpoint-down(lg) {
    font-size: rem(26);
    line-height: rem(32);
  }
  @include media-breakpoint-down(md) {
    font-size: rem(20);
    line-height: rem(26);
  }
}

p {
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  width: 100%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}

small {
  font-size: rem(14);
  line-height: rem(18);

  @include media-breakpoint-down(md) {
    font-size: rem(12);
    line-height: rem(16);
  }
}
