.swiper-pagination {
  width: 100%;
  position: relative;
  line-height: 0;
}
.swiper-pagination-bullet {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid $primary;
  opacity: 1;
  margin: 0 15px;
  outline: none !important;

  @include media-breakpoint-down(md) {
    width: 9px;
    height: 9px;
    margin: 0 9px;
  }
}
.swiper-pagination-bullet-active {
  background: $primary;
}
