mixin banner(img, logo, id)
    .banner(style=`background-image: url('/img/${img}');`, class=id ? `banner_${id}` : '')
        .container
            .banner_wrapper.pos-rel
                if logo
                    .banner_content
                        .banner_logo.svg
                            include ../img/logo.svg
                        .banner_slogan есть идея выпить кофе
