.container.mb-3.mb-lg-5.pb-3.slogan
    .col-12
        .row.flex-column.flex-md-row.justify-content-center.justify-content-md-between.align-items-center.align-items-md-end
            .col-8.col-md-3.pos-rel
                img(src='/img/home_img.png').slogan_img
            .slogan_text.col-10.col-md-9.col-lg-8.col-xl-9.pt-4.pt-md-2.pl-1.pl-md-3.pl-xl-4.pr-1
                p Нам нет смысла себя нахваливать.
                p Просто приезжайте и попробуйте наш кофе сами.
                .slogan_text_btn.col-12.col-md-8.row.justify-content-center.mt-3.mt-md-4.mt-lg-5.pt-2.pt-lg-0
                    a(href='/locations').btn.btn-general локации
                        .svg
                            include ../img/arrow_next.svg
