mixin social-link(icon)
    case icon
        when 'social_1'
            include ../img/social_1.svg
        when 'social_2'
            include ../img/social_2.svg
        when 'social_3'
            include ../img/social_3.svg
