.container.mb-5
    .col-12.col-md-10
        .row.flex-column.flex-md-row.justify-content-center.justify-content-md-between.align-items-center.align-items-md-end
            .col-8.col-md-3.pos-rel
                img(src='/img/home_img.png').slogan_img
            .col-8
                | Нам нет смысла себя нахваливать.
                br
                | Просто приезжайте и попробуйте наш кофе сами.
                .row.justify-content-center.mt-3
                    a(href='/locations').btn.btn-general локации
                        .svg
                            include ../img/arrow_next.svg
