extends _layouts/base

block head_end
    link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")

block content
    include blocks/header
    +header('feedback')
    include blocks/banner
    +banner('banner_feedback.jpg', false, null)
    .content
        .container.my-1.my-lg-4.py-2
            .row.justify-content-center
                .col-10.col.sm-12
                    .row.justify-content-between
                        .col-12.col-md-6
                            include blocks/form_feedback
                        .feedback_text.col-12.col-md-5.mt-4.mt-md-0.pt-2.pt-sm-0
                            h1.mb-3.mb-lg-4 Мы всегда на связи
                            p.pr-0.pr-xl-5 Здесь Вы можете задать нам вопрос, отправить сообщение или оставить отзыв. Мы благодарны за любую обратную связь. Спасибо, что помогаете нам становиться лучше.
                            p
                                a(href='mailto:mail@drivecoffee.ru') mail@drivecoffee.ru
                                br
                                a(href='tel:+79009009009') 8 900 900 90 09
    include blocks/footer

block body_end
    script(type="text/javascript", src="/js/vendor/validate.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(type="text/javascript", src="/js/script.js")
