extends _layouts/base

block head_end


block content
    include blocks/header
    +header('loyalty')
    include blocks/banner
    +banner('banner_loyalty.jpg', false)
    .content
        .container
            h1 Мы регистрируем постоянных гостей в&#160;нашей бонусной системе.
            p Целых 10% от&#160;каждого заказа падает на&#160;бонусный счёт, и&#160;уже через некоторое время этими бонусами можно воспользоваться: получить скидку на&#160;напиток или забрать его совершенно бесплатно.
            p.has-text-primary Eсли Вы обожаете Drive Coffee и&#160;хотите его больше, чаще и&#160;с&#160;бонусами, то попросите бариста зарегистрировать Вас в&#160;бонусной системе, когда в&#160;следующий раз будете у&#160;нас в&#160;гостях.
    include blocks/footer

block body_end
    script(type="text/javascript" src="/js/script.js")
