extends _layouts/base

block head_end

block content
    include blocks/header
    +header('vacancy')
    include blocks/banner
    +banner('banner_vacancy.jpg', false, null)
    .content.vacancy
        .container.my-2.my-lg-3.py-0.py-lg-3
            .row.justify-content-center
                .col-10.col-sm-12
                    h1.mb-3.mb-lg-4 Сильная команда начинается с&#160;единомышленников!
                    p Поэтому если ты, так&#160;же как и&#160;мы, любишь кофе и&#160;все, что с&#160;ним связано, желаешь добиться больших результатов, а&#160;ответственность, дружелюбность и&#160;уверенность в&#160;себе - твои главные черты, то&#160;приглашаем тебя стать частью Drive Coffee.
                    p.has-text-primary Просто заполни форму, и мы обязательно свяжемся с&#160;тобой в&#160;течение недели:
                    .mt-4
                        include blocks/form_vacancy
    include blocks/footer

block body_end
    script(type="text/javascript", src="/js/vendor/validate.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(type="text/javascript", src="/js/script.js")
