.banner {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 1;
  }
  &:before {
    top: 0;
    background: linear-gradient(hsla(0, 0%, 0%, 30%), hsla(0, 0%, 0%, 0%));
  }
  &:after {
    bottom: 0;
    background: linear-gradient(hsla(0, 0%, 0%, 0%), hsla(0, 0%, 0%, 20%));
  }
  &_wrapper {
    padding-bottom: 465px;
  }
  &_home &_wrapper {
    padding-bottom: 77.5%;

    @include media-breakpoint-down(lg) {
      padding-bottom: 57%;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 78%;
    }
  }
  &_content {
    position: absolute;
    top: 57.9%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  &_logo {
    width: 65.4%;
    padding-bottom: 9.3%;
    margin: 0 auto;

    svg {
      fill: $white;
    }
  }
  &_slogan {
    text-align: center;
    text-align-last: center;
    color: $white;
    margin-top: rem(38);
    font-size: rem(30);
    line-height: rem(30);
    font-family: $font-alternative;

    @include media-breakpoint-down(md) {
      margin-top: rem(25);
      font-size: rem(18);
      line-height: rem(18);
    }
  }
}
