header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid $primary;
  transition: background-color 400ms;
  z-index: 100;
  @include media-breakpoint-down(md) {
    border-width: 1px;
  }
}
.header {

  &_container {
    padding: 17px 0;
    transition: padding 400ms;

    @include media-breakpoint-down(lg) {
      padding: 12px 0;
    }
  }
  &_menu {
    width: calc((100% - (16.7% + 100px)) / 2);
    transition: background-color 500ms;

    @include media-breakpoint-down(lg) {
      width: calc((100% - (15% + 35px)) / 2);
    }
    @include media-breakpoint-down(md) {
      width: calc((100% - (15% + 40px)) / 2);
    }
    a {
      position: relative;
      display: inline-block;
      font-size: rem(18);
      line-height: rem(18);
      color: $white;
      text-transform: uppercase;
      text-decoration: none !important;
      transition: color 400ms;
      padding: 10px 0;

      @include media-breakpoint-down(lg) {
        font-size: rem(16);
      }
      @include media-breakpoint-down(md) {
        font-size: rem(12);
        line-height: rem(16);
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 0, 0);
        height: 2px;
        width: 0;
        transition: width 400ms;
        background-color: $white;

        @include media-breakpoint-down(md) {
          bottom: 3px;
        }
      }
      &:hover {
        color: $primary !important;
      }
      &.active {
        pointer-events: none;
        color: $white;

        &:after {
          width: calc(100% + 10px);
        }
      }
    }
    &--mobile {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 100%);
      background-color: hsla(0, 0%, 0%, 0.8);
      opacity: 0;
      visibility: hidden;
      transition: visibility 400ms;

      a {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        text-align-last: center;
        color: $white;

        &:first-child:before {
          content: none;
        }
        &:before {
          content: '';
          display: block;
          width: 30px;
          height: 1px;
          margin: 10px auto;
          background-color: $primary;
        }
        &.active {
          color: $primary;
        }
      }
    }
    &_switcher {
      position: absolute;
      top: 50%;
      right: 13.3%;
      width: 18px;
      padding-bottom: 16px;
      margin: -8px 0;
      cursor: pointer;

      svg {
        fill: $primary;
      }
    }
  }
  &_logo {
    width: 17%;

    @include media-breakpoint-down(lg) {
      width: 15%;
    }
    @include media-breakpoint-down(sm) {
      width: 110px;
    }
    .svg {
      padding-bottom: 20%;

      svg {
        fill: $white;
        transition: fill 400ms;
      }
    }
    &:hover {
      .svg {
        svg {
          fill: $primary !important;
        }
      }
    }
  }
  &--open {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
  &--open &_menu--mobile {
    opacity: 1;
    visibility: visible;

  }
  &--fixed {
    background-color: $white;
  }
  &--fixed &_container {
    padding: 12px 0;

    @include media-breakpoint-down(lg) {
      padding: 5px 0;
    }
  }
  &--fixed &_menu {

    a {
      color: $black;

      &:after {
        background-color: $black;
      }
    }
  }
  &--fixed &_logo .svg svg {
    fill: $black;
  }
  &--fixed &_menu--mobile {
    background-color: hsla(100, 100%, 100%, 0.8);

    a {
      color: $black;
    }
  }
}
