.toastify_message {
  color: $black;
  white-space: nowrap;
  cursor: default;
  z-index: 100;

  @include media-breakpoint-down(md) {
    position: fixed;
    width: 100%;
    text-align: center;
    text-align-last: center;
    padding: 10px 15px;
  }
}
.toastify.on {
  top: 105px !important;

  @include media-breakpoint-down(lg) {
    top: 70px !important;
  }
  @include media-breakpoint-down(sm) {
    top: 55px !important;
  }
}
