.svg {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content {
  padding: rem(30) 0;
  min-height: calc(100vh - (465px + 150px));
}

a {
  color: $link-color;
  transition: color 300ms;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

h1 {
  font-size: rem(32);
  line-height: rem(42);
  margin: 0 0 20px;
}

p {
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  width: 100%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}
